{% extends "./teacherpage.html" %}
{% block title %} 学生名单 {% end %}

{% block css %}
{% end %}

{% block js %}
<script src="{{ static_url('t_student.js') }} " type="text/javascript"></script>
{% end %}


{% block content %}
<div   id="t_student-frm">
	<tr><td>课程号：</td>
		<td><input  type="text" name="cno" value="">
		<button id="btn-search">搜索</button>
		<button id="btn-refresh">返回</button> </td>
	</tr>
</div>
	<div id="list">
		<table border=0>
			<thead>
			<tr>
				<th style="width:10%">课程号
				<th style="width:10%">课程
                <th style="width:10%">学号
                <th style="width:10%">姓名</th>
			</tr>
			</thead>
			<tbody id="list-tbody">
			</tbody> 
		</table>
	</div>
{% end %}