{% extends "./administrator.html" %}
{% block title %} 教师信息 {% end %}

{% block css %}
{% end %}

{% block js %}
<script src="{{ static_url('teacher.js') }} " type="text/javascript"></script>
{% end %}


{% block content %}
	<button id="btn-new"> 登记教师信息</button>
	
	<div id="dlg-teacher-form" style="display:none">
	<hr>
	<form id="frm-teacher">
		<input type="hidden" name="sn" value="">
		<table>

            <tr><td>工号：</td>
                <td><input type="text" name="tno" value=""></td>
			</tr>
            <tr><td>姓名：</td>
				<td><input type="text" name="tname" value=""></td>
			</tr>
            <tr><td>性别：</td>
					<td><input type="text" name="tsex" value=""></td>
			</tr>
            <tr><td>职称：</td>
				<td><input type="text" name="ttitle" value=""></td>
			</tr>	
            <tr>
				<td>操作：</td><td>
				<input type="submit" value="修改">
				<button id="btn-teacher-frm-close">关闭</button>
			</td></tr>	
        </table>
	</form>
	</div>

	<hr>
	<div id="list">
		<table border=0>
			<thead>
			<tr>
				<th style="width:10%">工号</th>
				<th style="width:10%">姓名</th>
				<th style="width:10%">性别</th>
				<th style="width:10%">职称</th>
				<th style="width:10%">操作</th>
			</tr>

			
			</thead>
			<tbody id="list-tbody">
			</tbody> 
		</table>
	</div>
{% end %}
